.center{
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.container{
    margin: 10%;
    padding: 1%;
}

.form-group {
    float: left;
    width: 100%;
}

.form-control {
    padding: 3px;
    box-sizing: border-box;
    float: left;
}

.form-control input,
.form-control select,
.form-control textarea {
    box-sizing: border-box;
    width: 100%;
}

.form-control textarea {
    resize: vertical;
}

#form-group-1 .form-control {
    width: 50%;
}

#form-group-2 .form-control {
    width: 33.333%;
}

#form-group-3 .form-control {
    width: 50%;
}


#form-group-4 .form-control {
    width: 50%;
}

#form-group-5 .form-control {
    width: 50%;
}

#form-group-6 .form-control {
    width: 33.333%;
}

#form-group-7 .form-control {
    width: 50%;
}

#form-group-8 .form-control {
    width: 100%;
}

#form-group-9 .form-control {
    width: 80%;
}

.p-m-3{
    width: 150px;
    float: right;
}

.mt-5{
    margin-top: 2%;
}

.ml-5{
    margin-left: 5%;
}

.ft{
    padding: 2.5px;
}

.bg{
    background: #a7b4b4;
    max-width: 500px;
    min-width: 500px;
    margin-left: 40%;
}

